
:root {
    --main-blue: #467096;
    --main-orange: #EE672B;
    --main-beige: #FFFCF8;
    --main-grey: #434343;
    --heading-font: 'Playfair Display', serif;
    --content-font: 'Inter', sans-serif;
    --second-heading-font: 'Raleway', sans-serif;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--content-font);
  font-size: 20px;
  z-index: 999;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--content-font);
  font-size: 20px;
  z-index: 999;
}

body {
    margin: 0px;
}

#header {
    position: sticky;
    top: 0;
    z-index: 1000;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--main-grey);
    background-color: var(--main-beige);
    padding: 6px 100px;

    background-image: url("images/header_left.png"), url("images/header_right.png");
    background-position: left center, right center;
    background-repeat: no-repeat, no-repeat;
    background-size: 138px, 138px;

    filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.1));
}

header #home {
    font-family: var(--heading-font);
    color: var(--main-grey);
    font-weight: 300;
    font-size: 40px;
    margin: 18px;
    padding: 10px;
    text-decoration: none;
}

header nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-right: 50px;
    font-family: var(--content-font);
}

header nav a {
    color: var(--main-grey);
    text-decoration: none;
}

footer {
    align-items: center;
    color: var(--main-grey);
    background-color: var(--main-beige);
    padding: 120px 80px;

    background-image: url("images/footer_left.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 180px;

    filter: drop-shadow(0px -10px 6px rgba(0, 0, 0, 0.1));
}

footer nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    font-family: var(--content-font);
}

footer nav a {
    color: var(--main-grey);
    text-decoration: none;
}

footer nav p {
    margin: 0px;
    color: var(--main-grey);
}

/*Tutorial page side navigation*/
#scroll-indicator {
    position: fixed;
    left: 30px;
    top: 150px;
    height: 70vh;
    width: 20px;
    transition: transform 0.1s linear;
}

#scroll-line {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 100%;
    background: #ddd;
}

#scroll-progress {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 0%;
    background: var(--main-orange);
    transition: height 0.1s linear;
}

#scroll-ball {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 14px;
    height: 14px;
    background: var(--main-orange);
    border-radius: 50%;
}

.marker {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background: var(--main-grey);
    border-radius: 50%;
    opacity: 0.6;
}

#tutorial-text {
    padding: 100px;
    font-family: var(--content-font);
    color: var(--main-grey);
}

#tutorial-text p {
    font-family: var(--content-font);
    font-weight: 300;
}

/*Game Page*/
#board-container canvas {
  pointer-events: auto;
}

#board-container {
  width: 100%;
  height: 140vh;
  overflow: hidden;
  margin: 0px;
}

/*Leaderboard button*/
#leaderboard-container {
  position: absolute;
  top: 160px;
  right: 20px;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0px;
}

#leaderboard-toggle {
  padding: 10px 15px;
  cursor: pointer;
  background-image: url("images/open_button.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 75px;
  height: 60px;
}

#leaderboard-panel {
  background: white;
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  max-height: 300px;
  overflow-y: auto;
}

.hidden {
    display: none;
}